
/*main classes*/
.header {
    text-align: center;
    font-size: 40px;
    color: bisque;
}
 
.body {
    text-align: left;
    color:azure;
}

.links {
    color: red;
}

.photo_headers {
    width:750px;
    height: 453px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*for music.html*/
.composer_portraits {
    width: 202px;
    height: 249px;
}

#music_header {
    font-family: 'Lucida Handwriting', cursive;
    color: ivory;
}

#music_body {
    color:ivory;
}

#music_links {
    color:aqua;
}

/*for philosophy.html*/
#philosophy_header {
    font-family: 'Georgia';
    color:black;
}

#philosophy_body {
    font-family: 'Georgia';
    color: black;
}

/*for books.html*/
#book_header {
    font-family: Garamond;
    color: ivory;
}

#books_subhead {
    font-family: Garamond;
    font-size: 30px;
    font-weight: bold;
    color: ivory;
}

#book_body {
    font-family: Garamond;
    color: ivory;
}

#book_cover {
    width: 400x;
    height:  500px;
}

/*for quotations.html*/
#quotations_header {


}

.quotations {
    font-family: Georgia;
    text-align: left;
    line-height: 40px; /*adds what appears as double spacing between lines*/
    margin: 20px;
}