/*containers stuff*/
.container {
  display: flex;           /* Activates flexbox layout */
  flex-direction: row;
  gap: 40px;               /* Creates space between image and text */
}

.centered_container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.text_content {
  flex: 1;                 /* Makes text area fill remaining space */
}

#gif_background {
    background-image: url(gifs/snow.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat; /*fills, no fracturing*/
}


/*main classes*/
.header {
    text-align: center;
    font-size: 40px;
    color:white;
}
 
.body {
    text-align: left;
    color: white;
    font-size: 18px;
}

.links {

    /*magenta*/
    /*color:rgb(205, 86, 223);*/

    /*green*/
    /*color: rgb(60, 179, 113);*/
    
    /*reddish*/
    color: rgb(255, 0, 122);
}

.photo_headers {
    width:750px;
    height: 453px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*for music.html*/
.composer_portraits {
    width: 202px;
    height: 249px;
}

/*for books.html*/
.book_cover {
    width: 400x;
    height:  500px;
}

.quotations {
    font-family: Georgia;
    text-align: left;
    line-height: 40px; /*adds what appears as double spacing between lines*/
    margin: 20px;
}
