/* containers stuff */
.container {
  display: flex;           /* Activates flexbox layout */
  flex-direction: row;
  gap: 40px;               /* Creates space between image and text */
  padding: 20px;
}

.col_container {
  display: flex;           /* Activates flexbox layout */
  flex-direction: column;
  gap: 40px;               /* Creates space between image and text */
  padding: 20px;
}

.centered_container {
    display: flex;           /* Activates flexbox layout */
    align-items: center;
    justify-content: center;
}

.text_content {
    max-width: 960px; /* Or any other desired maximum width in pixels, em, or rem */
    padding: 20px; /* Optional: adds some padding around the content */
    flex: 1;                 /* Makes text area fill remaining space */
}

#banner {
    background-image: url('photos/snow_lake.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat; /*fills, no fracturing*/
}


/* main classes */
.header {
    text-align: center;
    font-size: 40px;
    color:white;
}
 
.body {
    text-align: left;
    color: white;
    font-size: 18px;
}

.links {

    /*magenta*/
    /*color:rgb(205, 86, 223);*/

    /*green*/
    /*color: rgb(60, 179, 113);*/
    
    /*reddish*/
    color: rgb(255, 0, 122);
}

.photo_headers {
    width: 750px;
    height: 453px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*for music.html*/
.composer_portraits {
    width: 202px;
    height: 249px;
}

/*for books.html*/
.book_cover {
    width: 400x;
    height:  500px;
}

#output {
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 40px; /*adds what appears as double spacing between lines*/
    margin: 20px;

}
.quotations {
    font-family: Georgia;
    text-align: left;
    line-height: 40px; /*adds what appears as double spacing between lines*/
    margin: 20px;
}


/* For study.html */

/*
Source - https://stackoverflow.com/a/33964257
Posted by Josh Crozier
Retrieved 2025-11-26, License - CC BY-SA 3.0
*/
progress {
  text-align: center;
}
progress:after {
  content: attr(value)'%';
}
